.img-hover-cross {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.img-hover-cross::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #0d6efd;
    border-bottom-color: #0d6efd;
    transform: scale(0.1, 1);
}

.img-hover-cross::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}

.img-hover-cross:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}